.tw3-homepage--abstract .tw3-pane--left{
    background-image: linear-gradient(-75deg, #ff3f3f 0%, #ff94b6 100%)!important;
}
.tw3-button--orange {
    background: #ff3f3f!important;
    border-color: #ff3f3f!important;
}
.tw3-tab--v2.selected {
    color: #ff3f3f;
}
.tw3-tab--v2.selected:after {
    background: #ff3f3f;
}
.tw3-iconOrange {
    color: #ff3f3f;
}
.tw3-headerV2__navigation__item a.active {
    color: #ff3f3f;
}
.tw3-headerV2--desktop .tw3-headerV2__navigation__item a:hover {
    color: #ff3f3f;
}

.advanced-select .advanced-select__menu {
    overflow: hidden;
}

.advanced-select .advanced-select__option {
    padding: 7px 10px;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}

.intl-tel-input {
    position: relative;
    display: block;
}

.intl-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.intl-tel-input .hide {
    display: none;
}

.intl-tel-input .v-hide {
    visibility: hidden;
}

.intl-tel-input input {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
}

.intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: 100%;
    padding: 0 0 0 8px;
}

.intl-tel-input .selected-flag .iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}

.intl-tel-input .selected-flag .iti-arrow.up {
    border-top: none;
    border-bottom: 4px solid #555;
}

.intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #ccc;
    white-space: nowrap;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.intl-tel-input .country-list.dropup {
    bottom: 100%;
    margin-bottom: -1px;
}

.intl-tel-input .country-list .flag-box {
    display: inline-block;
    width: 20px;
}

.intl-tel-input .country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.payment-area {
    overflow: hidden;
    text-align: inherit;
    background: white;
    padding: 15px 30px 0;
}

.payment-area h2 {
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: -0.5px;
}

.total_amount_holder, .price {
    color: #ed8c1f;
    font-weight: normal;
}

.cost-charge {
    line-height: 1;
    letter-spacing: 0.3px;
}

.payment-area #phone {
    margin: 0 0 30px;
    padding-top: 30px;
    text-align: inherit;
    border-top: 1px solid #e8e8e8;
}

.msisdn-form {
    display: table;
    width: 100%;
    max-width: 560px;
}

.msisdn-field-with-prefix > div {
    display: table;
    width: 100%;
}

.msisdn-form > div {
    margin: 30px 0;
    display: table-cell;
    vertical-align: middle;
    direction: ltr;
}

.msisdn-prefix {
    display: table-cell;
    padding-right: 15px;
    font-size: 1.33em;
    line-height: 1;
    width: 1%;
}

.msisdn-input {
    display: table-cell;
    width: 99%;
    font-size: 1.33rem;
}

.msisdn-form .field:invalid {
    border: 1px solid #e2c822;
    background-color: #fff9d7;
    box-shadow: none;
}

.msisdn-form input[type='text']:invalid, .msisdn-form input[type='tel']:invalid, .msisdn-form input[type='text'].invalid, .msisdn-form input[type='tel'].invalid {
    border: 1px solid #e2c822;
    background-color: #fff9d7;
    box-shadow: none;
}

.msisdn-input input, .msisdn-action input {
    width: 100%;
}

.msisdn-form .field {
    color: #444444;
    display: inline-block;
    height: 50px;
    padding: 0 0.5em;
    box-sizing: border-box;
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.msisdn-form input[type='text'], .msisdn-form input[type='tel'] {
    color: #444444;
    display: inline-block;
    height: 50px;
    padding: 0 0.5em;
    box-sizing: border-box;
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.msisdn-form .msisdn-action {
    margin-left: -4px;
    padding-left: 15px;
    text-align: right;
    box-sizing: border-box;
}

.msisdn-form .button, .msisdn-form input[type='submit'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #189c00;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.33rem;
    font-weight: bold;
    height: 50px;
    letter-spacing: inherit;
    line-height: 1;
    min-width: 80px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
}

.msisdn-form .button:hover, .msisdn-form .button:focus {
    color: white;
    outline: none;
    background: #46af33;
}

.msisdn-form input[type='submit']:hover, .msisdn-form input[type='submit']:focus {
    color: white;
    outline: none;
    background: #46af33;
}

.msisdn-form .button:active, .msisdn-form input[type='submit']:active {
    background: #137c00;
}

.msisdn-form .button:disabled, .msisdn-form .btn-disabled {
    cursor: default;
    color: 1px solid #e8e8e8;
    background: #908f8f;
}

.msisdn-form input[type='submit']:disabled, .msisdn-form input[type='submit'][disabled] {
    cursor: default;
    color: 1px solid #e8e8e8;
    background: #908f8f;
}

.rescue-code-cta {
    margin-top: -15px;
}

.payment-area a {
    text-decoration: none;
    color: #189c00;
    cursor: pointer;
}

.payment-area a:hover {
    color: #46af33;
}

a:focus {
    color: #46af33;
}

.payment-area #country:hover a {
    color: #46af33;
}

.payment-area a:active {
    color: #137c00;
}

.operator-info {
    background-color: transparent;
    box-sizing: border-box;
    line-height: 70px;
    border-top: 1px solid #e8e8e8;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: inherit;
    overflow: hidden;
}

.operator-info .operator_logo {
    margin-right: 20px;
}

.operator_logo {
    margin-right: 20px;
    vertical-align: middle;
}

#company {
    margin: 0 -30px;
    padding: 15px 30px 15px;
    font-size: .9em;
    border-top: 1px solid #e8e8e8;
    background-color: #f8f8f8;
    text-align: left;
}

.service-info {
    color: #908f8f;
}

.service-info > div {
    display: inline-block;
}

.help-link a:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAABaUlEQVR4AZ2SA8xQUQCFs23XzBqypzBmTLkv27YxhnlpyHa/ORv//Nu2TtvF9t7LPZ5z7nd92/z3xVCOkUgFQuTxlk30+DnYiUs0oshdwuYNbaNob1IQooKHbGUJK9jPe1f5KZ2CaEcSEa1cpk+oiVE8snigdU4hmln40+FtN/h2bwdQh9jj3GzSaaKZVOa65AqinF7W7ENk0MHoMdQirnOKJlqYYLKuZCG2Wvgr4ohrZT8i1ajXiIsuPYr4aGUJYoKLJ7GGGUbFIs77FFFkpRADItM6iWhinJ8VQr+A2WDQld4zCA9ThJgSgp8ibgf8NESxlR8Rp0PwfNYwNuDPIb5YuQWRRddAYRxit3f0pBCxw5tyxIVfwvcR5fTxdidCbPjJZnfgJjL7668NbXltorsMDKETSTH5841tg3FXnpq4hifsYCkrOelAcT94RH3rh6hGkTvvZ4PzO7WfWMoMlsMTVtO1zf9e3wGGyff1B9gJAAAAAABJRU5ErkJggg==");
    width: 22px;
    height: 22px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    content: " ";
}

.service-info .provider {
    margin-left: 27px;
}

header div {
    z-index: 999;
}

.state-select {
    z-index: 3;
}